* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@font-face {
  font-family: "Gotham Pro";
  src: url(../font/gothampro.ttf);
  font-style: normal;
}

li {
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  max-width: 1920px;
  width: 100%;
}
.header {
  max-width: 1920px;
  width: 100%;
  min-height: 80px;

  display: flex;
  flex-direction: column;
  position: relative;
}
nav {
  max-width: 1920px;
  width: 100vw;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px;
  z-index: 44;
  background: linear-gradient(
    90.09deg,
    #9e0b37 0.98%,
    #ffc531 72.22%,
    #9e0b37 99.95%
  );
  height: 100%;
}
.nav-menu {
  display: flex;
  gap: 72px;
}
.nav-menu__text {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.39px;
  text-align: left;
  color: white;
}
.nav-menu__text-fat {
  font-family: Gotham Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.31px;
  text-align: left;
  color: white;
  margin-right: 12px;
}
.arrowtext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reg-menu {
  display: flex;
  gap: 42px;
  align-items: center;
}
.reg-menu__button {
  font-family: Gotham Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 16.27px;
  text-align: left;
  color: white;
  border: none;
}
.reg-menu__button_clear {
  background: none;
}
.reg-menu__button_red {
  background: rgba(158, 11, 55, 0.7);
  box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.5) inset;

  padding: 16.5px 24px;
  border-radius: 25px;
}

.logo {
  max-width: 1920px;
  width: 100%;
  z-index: 2;
  height: 567px;
}
.logo__h1 {
  background: linear-gradient(
      123.33deg,
      #df5017 4.42%,
      rgba(223, 80, 23, 0.440343) 22.08%,
      rgba(223, 80, 23, 0.19) 35.36%,
      rgba(223, 80, 23, 0) 52.74%
    ),
    linear-gradient(
      90.01deg,
      #282533 65.15%,
      #282533 65.15%,
      rgba(40, 37, 51, 0.739583) 82.21%,
      rgba(40, 37, 51, 0) 99.99%
    );
  max-width: 1310px;

  top: -2px;
  position: absolute;
  z-index: -2;
  font-family: Gotham Pro;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  padding: 263px 240px 267px 250px;
  color: white;
  text-transform: uppercase;
}
.logo__tv {
  background: url(../img/tv.png);
  background-size: contain;
  position: absolute;
  top: 0;
  max-width: 1070px;
  height: 648px;
  width: 100%;
  z-index: -3;
  right: 0;
}
main {
  padding: 100px 250px 40px 250px;
  background: rgba(23, 20, 34, 1);
}
.page {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.section-content__h2 {
  background: linear-gradient(
    90.95deg,
    #ffa462 0%,
    #b45350 21.79%,
    #8a2645 48.93%,
    #291725 84.55%
  );
  font-family: Gotham Pro;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
  max-width: 1180px;
  padding: 40px 47px 50px 40px;
  color: white;
  border-radius: 30px;
  margin-bottom: 60px;
}
.number1__all-content {
  gap: 85px;
  display: flex;
  flex-direction: column;
}
.number1__all-content__item_down {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Gotham Pro;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
  color: white;
}
ol {
  font-family: Gotham Pro;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
  color: white;
}
.number1__all-content__item_up {
  display: flex;
  gap: 42px;
}
.number {
  font-family: Gotham Pro;
  font-size: 183px;
  font-weight: 900;
  line-height: 201.3px;
  background: linear-gradient(
    172.77deg,
    #8a2645 15.55%,
    #291725 56.17%,
    #171422 75.48%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item_up__all-element {
  display: flex;
  gap: 41px;
  flex-direction: column;
}
.item_up__all-element__img {
  display: grid;
  gap: 20px 40px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 195px;
}
.grid-img {
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 268px;
  height: 62px;
  border-radius: 12px;
}
.aside__block {
  width: 220px;
  height: 220px;
  border-radius: 14.5px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 15px;
  background: linear-gradient(
    180deg,
    rgba(23, 20, 34, 0) 0%,
    rgba(23, 20, 34, 0.9) 55.17%
  );
}
.section-content__aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside__block__button {
  background: none;
  border: 0.96px solid rgba(255, 255, 255, 1);
  border-radius: 24px;
  display: flex;
  align-items: center;
  height: 34px;
  width: 210px;
  color: white;
  position: relative;
  padding-right: 35px;
  justify-content: center;
}
.block__button__text1 {
  font-family: Gotham Pro;
  font-size: 11px;
  font-weight: 700;
  line-height: 12.72px;
  text-align: center;
}
.block__button__text2 {
  font-family: Gotham Pro;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
}
.aside__arrow {
  position: absolute;
  right: -13px;
  bottom: -14px;
}
.list__number-2 {
  display: flex;
  align-items: center;
  margin-top: 28px;
  gap: 5px;
}
.list__number-3 {
  display: flex;
  flex-direction: column;

  position: relative;
}
.number-3__item_up {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  margin-bottom: 280px;
}
.error1 {
  position: absolute;
  right: 680px;
  top: 200px;
}
.error2 {
  position: absolute;
  right: 310px;
  top: 220px;
}
.number-3__item_down {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 200px;
}
.set3 {
  display: flex;
  gap: 20px;
}
.set-absolute1 {
  position: absolute;
  top: -200px;
  right: 260px;
}
.set-absolute2 {
  position: absolute;
  top: -110px;
  right: 45px;
}
.list__number-4,
.list__number-5 {
  display: flex;
  margin-top: 80px;
  align-items: center;
  gap: 5px;
}
.list__number-5 {
  margin-bottom: 40px;
}
.all-element__text {
  font-family: Gotham Pro;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
  color: white;
}
footer {
  height: 800px;
  max-width: 1920px;
  background: rgba(23, 20, 34, 1);
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.slider {
  width: 100%;
  height: 300px;
}
.slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.slider__img {
  width: 400px;
  height: 280px;
  border-radius: 15px;
}
.slider__item:hover {
  transform: scale(1.01);
}
.slider:nth-child(even) {
  transform: rotate(180deg);
}
.updown {
  transform: rotate(180deg);
}
@media (max-width: 1700px) {
  .section-content__aside {
    display: none;
  }
}
